body {
   direction:rtl;
   background-color:lightgrey;
   text-align:right;
}
.card {
    text-align:right;
}
.container{
    text-align:right;
    height:auto;
}
.field input {
    width: 89%;
    margin-right: 5%;
    height: 37px;
    margin-top: 7px;
    text-indent: 7px;
    font-family: IRANsans;
    font-weight: Bold;
    color: #666666;
}
.topimg img {
	position:absolute;
	width:100%;
	
	
	
}
.center{
	width:904px;
	height:auto;
	margin:0 auto;
	position:relative;
}

.header{
	width:100%;
	height:75px;
	border-bottom:3px #fae7e7 solid;
	
	color:#ffffff;
	position:absolute;
}
.logo{
	font-family:Tahoma;
	margin-left:35px;
	margin-top:24px;
    text-align:center;
    color:aliceblue;
}
.header ul{
	list-style:none;
    text-align:center;
	
	
}
.header ul li{
	display:inline-block;
	padding-left: 42px;
      text-align:center;
}
.header ul li a:hover {
	color:#ef6ab3;
}
.header ul li a{
	text-decoration:none;
	color:#fff;
	font-family:tahoma;
      text-align:center;
}
.menu{
	display:inline-block;
    position: absolute;
    right: 0;
    top: 22px;
    text-align:center;
}
